<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="filtroPorNombre"
        placeholder="Ingresar un criterio de busqueda por Nombre...">
    <input type="text" class="form-control" v-model="filtroPorDni"
        placeholder="Ingresar un criterio de busqueda por Dni...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            filtroPorNombre: '',
            filtroPorDni: '',
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Gaston",
                    apellido: "Arbert",
                    correo: "gastonarbert@hotmail.com",
                    dni: "31477580"
                },
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "2222222"
                },
                {
                    nombre: "Gaston",
                    apellido: "Arbert",
                    correo: "gastonarbert@hotmail.com",
                    dni: "2222222"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                    return this.personas.filter(p =>
                    (p.nombre.toLowerCase().includes(this.filtroPorNombre.toLowerCase())
                    || p.apellido.toLowerCase().includes(this.filtroPorNombre.toLowerCase()))
                    && p.dni.includes(this.filtroPorDni))
            },
        },

        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>